/* CUSTOM PROPS */
:root {
  --body-bg: #f4d04e;
  --text-color: #111111;
  --white-color: #fff;
  --text-grey: #7f7f7f;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Figtree", "Arial" sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  line-height: normal;
  background-color: var(--body-bg);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
	border-color: transparent;
	-webkit-text-fill-color: inherit;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
 }*/

/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
 ::-moz-placeholder,
 :-ms-input-placeholder,
 :-moz-placeholder {
	color: rgba(52, 49, 61, 0.5);
	opacity: 1;
 }*/

/* FOCUS */

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.preview-card {
  max-width: 384px;
  height: auto;
  margin: 0 auto;
  padding: 24px;
  background: var(--white-color);
  box-shadow: 8px 8px 0px var(--text-color);
  border-radius: 20px;
  border: 1px var(--text-color) solid;
}

.preview-card__img {
  display: block;
  border-radius: 10px;
}

.preview-card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 0;
}

.preview-card__learning--btn {
  width: fit-content;
  margin: 0;
  padding: 4px 12px;
  background-color: var(--body-bg);
  border-radius: 4px;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 12px;
  line-height: 18px;
  font-weight: 800;
}

.preview-card__publish {
  margin: 0;
}

.preview-card__topic {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.preview-card__topic:hover {
  color: var(--body-bg);
  cursor: pointer;
}

.preview-card__topic:active {
  opacity: 0.6;
}

.preview-card__description {
  color: var(--text-grey);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.preview-card__profile {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.preview-card__profile--img {
  display: block;
}

.preview-card__profile--name {
  font-weight: 800;
  margin: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}

@media only screen and (max-width: 500px) {
  .preview-card {
    max-width: 327px;
    padding: 20px;
  }

  .preview-card__content {
    gap: 10px;
    margin: 18px 0;
  }

  .preview-card__img {
    display: block;
    width: 279px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

  .preview-card__publish {
    font-size: 12px;
    line-height: 18px;
  }

  .preview-card__topic {
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 350px) {
  .preview-card {
    max-width: 300px;
    padding: 15px;
  }

  .preview-card__content {
    gap: 8px;
    margin: 15px 0;
  }

  .preview-card__topic {
    font-size: 18px;
    line-height: 28px;
  }

  .preview-card__description {
    font-size: 12px;
    line-height: 18px;
  }
}
